@import url(https://fonts.googleapis.com/css?family=Merienda:400,700|Source+Sans+Pro:300,400,700,900);* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  font-family: 'Source Sans Pro', sans-serif; }

.mobile-menu-btn {
  display: none; }

.btn {
  color: #fff;
  background-color: #ccc;
  padding: 15px 60px;
  text-decoration: none; }

.btn-primary {
  background-color: #5bceeb;
  transition: all .3s ease-out; }
  .btn-primary:hover {
    background-color: #fff;
    color: #5bceeb;
    transition: all .3s ease-out; }

.btn-secondary {
  background-color: #2e889e;
  font-weight: bold; }
  .btn-secondary:hover {
    background-color: #1a364c;
    color: #fff;
    transition: all .3s ease-out; }

.call-btn {
  text-align: center; }

.title-section {
  font-family: 'Merienda', cursive;
  font-size: 50px;
  text-align: center;
  color: #2e889e;
  position: relative; }
  .title-section::before {
    content: "";
    width: 301px;
    height: 100px;
    position: absolute;
    top: 0;
    left: calc(50% - 220px);
    background-image: url(../images/bg-title-section.png);
    background-size: cover; }

p {
  color: #333333; }

.container {
  width: 1140px;
  max-width: 100%;
  position: relative;
  margin-left: auto;
  margin-right: auto; }

header {
  background-image: url(../images/bg-header.jpg);
  background-size: cover;
  position: relative; }
  header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 200px;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.7), rgba(255, 255, 255, 0)); }
  header .top-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px; }
  header .nav ul {
    display: flex;
    list-style-type: none; }
  header .nav li {
    margin-left: 15px; }
  header .nav a {
    color: #fff;
    text-decoration: none;
    font-weight: 700; }
  header .intro-header {
    padding-top: 180px;
    padding-bottom: 250px; }
    header .intro-header h1 {
      color: #fff;
      font-family: 'Merienda', cursive;
      text-align: center;
      font-size: 75px;
      position: relative;
      z-index: 2; }
      header .intro-header h1::after {
        content: '';
        background-image: url(../images/bg-intro.png);
        background-size: cover;
        width: 495px;
        height: 161px;
        position: absolute;
        top: -47px;
        left: 120px;
        z-index: 1; }

.water-wave {
  position: absolute;
  bottom: -180px;
  left: 0;
  width: 100.1%; }

.welcome {
  padding-top: 250px;
  position: relative; }
  .welcome .welcome-bg {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1; }
    .welcome .welcome-bg img {
      width: 100%; }
  .welcome .welcome-first,
  .welcome .welcome-second {
    display: flex;
    position: relative; }
  .welcome .welcome-image img {
    box-shadow: 0px 12px 43px 0px rgba(0, 0, 0, 0.25); }
  .welcome .welcome-content {
    position: relative;
    z-index: 2; }
    .welcome .welcome-content figure {
      text-align: center; }
    .welcome .welcome-content h1 {
      text-align: center;
      color: #1a364c;
      font-size: 50px;
      font-weight: 900; }
    .welcome .welcome-content h3 {
      text-align: center;
      color: #1a364c;
      font-weight: 900;
      margin-top: 10px; }
    .welcome .welcome-content p {
      line-height: 20px; }
  .welcome .welcome-first {
    margin-bottom: 50px; }
    .welcome .welcome-first .welcome-image {
      position: relative;
      z-index: 3;
      margin-right: 50px; }
    .welcome .welcome-first .call-btn {
      margin-top: 70px;
      position: relative;
      z-index: 2; }
      .welcome .welcome-first .call-btn .btn {
        position: relative;
        z-index: 2; }
      .welcome .welcome-first .call-btn::before {
        content: "";
        width: 2px;
        height: 200px;
        background-color: #959595;
        opacity: 0.5;
        position: absolute;
        top: -50px;
        left: calc(50% - 1px);
        z-index: 1; }
  .welcome .welcome-second .welcome-content {
    margin-top: 20px;
    padding-left: 20px;
    position: relative; }
    .welcome .welcome-second .welcome-content::before {
      position: absolute;
      content: "";
      width: 5px;
      height: 120px;
      background-color: #5bceeb;
      left: 0;
      top: 15px; }
    .welcome .welcome-second .welcome-content p {
      margin: 15px 0; }
  .welcome .welcome-second .welcome-image {
    transform: translateY(-180px);
    position: relative;
    z-index: 2;
    margin-left: 50px; }

.adventures-home {
  position: relative;
  z-index: 3;
  padding-bottom: 150px; }
  .adventures-home .title-section {
    margin-bottom: 320px; }
  .adventures-home .adventures-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 50px; }
  .adventures-home .adventures-item {
    position: relative; }
  .adventures-home .adventures-image {
    position: absolute;
    top: -230px;
    left: -20px;
    z-index: -1;
    transform: translateY(220px) scale(0.5);
    opacity: 0; }
    .adventures-home .adventures-image img {
      position: relative;
      z-index: -1; }
  .adventures-home .adventures-content {
    box-shadow: 0px 12px 43px 0px rgba(0, 0, 0, 0.25);
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 30px;
    max-width: 320px;
    min-height: 360px;
    position: relative;
    z-index: 1; }
    .adventures-home .adventures-content h2 {
      text-align: center;
      color: #2e889e;
      margin: 20px 0;
      font-size: 30px; }
    .adventures-home .adventures-content p {
      margin-top: 20px; }
    .adventures-home .adventures-content .btn {
      margin-top: 30px;
      max-width: 80%;
      text-align: center;
      padding: 15px 40px; }
  .adventures-home .stroke-section {
    position: absolute;
    width: 100%;
    bottom: -50px;
    left: 0;
    z-index: 100; }
    .adventures-home .stroke-section img {
      width: 100%; }

.guides-home {
  background-image: url(../images/bg-guides-home.jpg);
  background-size: cover;
  padding-top: 120px;
  margin-bottom: 200px;
  position: relative; }
  .guides-home .title-section {
    color: #fff; }
    .guides-home .title-section::before {
      display: none; }
  .guides-home .guides-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    transform: translateY(110px);
    position: relative;
    z-index: 15; }
  .guides-home .guides-item {
    background-color: #fff;
    box-shadow: 0px 12px 43px 0px rgba(0, 0, 0, 0.25);
    transform: translateX(1220px); }
    .guides-home .guides-item img {
      width: 100%; }
    .guides-home .guides-item a {
      text-decoration: none; }
    .guides-home .guides-item h2 {
      text-align: center;
      margin-top: 20px;
      color: #2e889e;
      font-size: 30px; }
    .guides-home .guides-item p {
      text-align: center;
      margin-top: 5px;
      margin-bottom: 40px;
      color: #20313b;
      font-weight: 300; }
  .guides-home .stroke-section {
    position: absolute;
    width: 100%;
    bottom: -50px;
    left: 0;
    z-index: 10; }
    .guides-home .stroke-section img {
      width: 100%; }

.call-reservation {
  background-image: url(../images/bg-callreservation.jpg);
  background-size: cover;
  padding-top: 50px;
  padding-bottom: 110px;
  position: relative; }
  .call-reservation h1 {
    font-weight: 300;
    color: #fff;
    margin: 80px 0;
    text-align: center;
    font-size: 80px;
    letter-spacing: 10px; }
  .call-reservation .btn {
    background-color: #fff;
    color: #2e889e;
    font-weight: 700; }
    .call-reservation .btn:hover {
      background-color: #2e889e;
      color: #fff;
      transition: all .3s ease-out; }
  .call-reservation .stroke-section {
    position: absolute;
    width: 100%;
    top: -70px;
    left: 0;
    z-index: 10; }
    .call-reservation .stroke-section img {
      width: 100%; }

footer {
  background-color: #2e889e;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px;
  position: relative; }
  footer::before {
    content: "";
    background-color: #fff;
    width: 2px;
    height: 50px;
    position: absolute;
    left: calc(50% - 1px);
    top: 0; }
  footer .logo img {
    filter: brightness(6); }
  footer .menu {
    margin-top: 30px; }
    footer .menu ul {
      display: flex;
      list-style-type: none; }
    footer .menu li {
      margin: 0 10px; }
    footer .menu a {
      color: #fff;
      font-weight: 700;
      text-decoration: none; }

@media (max-width: 1480px) and (min-width: 940px) {
  .water-wave {
    bottom: -105px; } }

@media (max-width: 768px) {
  .container {
    width: 720px;
    max-width: 100%; }
  header .top-header .logo img {
    width: 150px; }
  header .intro-header {
    padding-top: 100px;
    padding-bottom: 240px; }
    header .intro-header h1 {
      font-size: 49px;
      text-align: center; }
      header .intro-header h1::after {
        top: -33px;
        left: 61px;
        width: 349px;
        height: 112px; }
  .water-wave {
    bottom: -75px; }
  .welcome {
    padding-top: 120px; }
    .welcome .welcome-first {
      flex-direction: column; }
      .welcome .welcome-first .welcome-content {
        order: 1; }
        .welcome .welcome-first .welcome-content p {
          padding: 0 30px; }
      .welcome .welcome-first .welcome-image {
        order: 2;
        margin-right: 0;
        margin-top: 50px; }
        .welcome .welcome-first .welcome-image img {
          width: 100%; }
    .welcome .welcome-second .welcome-image {
      display: none; }
    .welcome .welcome-second .welcome-content {
      margin-top: 0; }
  .adventures-home {
    margin-top: 90px;
    padding-bottom: 0; }
    .adventures-home .adventures-list {
      grid-template-columns: 1fr;
      justify-items: center; }
    .adventures-home .adventures-content {
      max-width: 410px; }
    .adventures-home .adventures-image {
      top: -265px;
      left: -34px; }
      .adventures-home .adventures-image img {
        width: 500px; }
    .adventures-home .adventures-item {
      margin-bottom: 290px; }
    .adventures-home .stroke-section {
      bottom: -28px; }
  .guides-home {
    padding-top: 80px; }
    .guides-home .guides-item h2 {
      font-size: 25px; }
    .guides-home .stroke-section {
      bottom: -23px; }
  .call-reservation h1 {
    font-size: 55px; }
  .call-reservation .stroke-section {
    top: -23px; } }

@media screen and (max-width: 414px) {
  .container {
    width: auto;
    padding-right: 15px;
    padding-left: 15px; }
  header .mobile-menu-btn {
    display: block; }
    header .mobile-menu-btn svg {
      width: 30px;
      height: 30px; }
  header .nav {
    position: absolute;
    width: 100%;
    left: 0;
    background-color: #2e889e;
    top: 133px;
    z-index: 5;
    transform: translateY(-368px);
    transition: all .3s ease-out; }
    header .nav.show {
      transform: translateY(0);
      transition: all .3s ease-out; }
    header .nav ul {
      flex-direction: column; }
    header .nav li {
      height: 45px;
      display: flex;
      align-items: center;
      margin-left: 40px; }
  header .intro-header h1::after {
    top: -32px;
    left: 11px;
    width: 321px;
    height: 102px; }
  .title-section {
    font-size: 30px; }
    .title-section::before {
      width: 213px;
      height: 71px;
      top: -9px;
      left: calc(50% - 136px); }
  .water-wave {
    bottom: -34px; }
  .adventures-home .title-section {
    margin-bottom: 250px; }
  .adventures-home .adventures-image {
    top: -178px;
    left: -11px; }
    .adventures-home .adventures-image img {
      width: 300px; }
  .adventures-home .adventures-item {
    margin-bottom: 215px; }
  .adventures-home .adventures-content {
    max-width: 290px; }
  .adventures-home .stroke-section {
    bottom: -15px; }
  .guides-home {
    padding-bottom: 110px;
    margin-bottom: 1100px; }
    .guides-home .guides-list {
      position: absolute;
      grid-template-columns: 1fr;
      transform: translateY(0);
      top: 30px;
      width: 100%;
      left: 0;
      padding: 0 30px; }
  .call-reservation {
    padding-top: 10px; }
    .call-reservation .stroke-section {
      top: -12px; }
  footer .menu ul {
    flex-direction: column; }
  footer .menu li {
    margin: 4px 10px;
    text-align: center; } }

/*# sourceMappingURL=main.css.map*/